<!DOCTYPE html>
<div class="portfolio-container">
  <div class="title-container">
    <h1 class="title">Portfolio</h1>
  </div>
<div class="content-container">
  <section class="contact-container">
    <p>Welcome to my Portfolio!</p>
    <p>My name is Danny Bermudez.</p>
    <div class="icons">
      <span>
        <a href="https://github.com/bermudd95">
          <img src="../assets/github_icon.png" alt="github icon">
        </a>
      </span>
      <span>
        <a href="https://gmail.com">
          <img src="../assets/gmail_icon.png" alt="gmail icon">
        </a>
      </span>
    </div>
  </section>
  <section class="main-content">
    <div class="background-container">
      <div style="display: flex; flex-direction: row;">
        <hr>
        <p style="font-size: large;">Background</p>
        <hr>
      </div>
        <p>A little bit about myself. I am not an typical developer that attended college and got a degree in Computer Science to get into the Tech industry. I am a developer that have 7 years experience in Security and Loss Prevention, which is a complete 180 on what is taught to become a web developer. I had a ember that eventually became a wildfire of a passion for Tech and coding when I spoke with a co-worker that used to studied computer science. Throughout my career, I have always used technology and was quickly able to maintain or troubleshoot if needed with ease but the idea never crossed my mind to practice coding. Once I did, I felt comfortable with the operations and mechanics. I have used various recourses along the way such as FreeCodeCamp as well as Codecademy for studies. The following are a couple of projects that I have completed. Please check back periodically as I update this page as I complete a project.</p>
    </div>
    <div class="resume-container">
      <div style="display: flex; flex-direction: row;">
        <hr>
          <p style="font-size: large;">Resume</p>
        <hr>
      </div>
        <a href="../assets/Resume.docx.pdf">
          <p>Link to Resume.</p>
        </a>
    </div>
    <div class="projects-container">
      <div style="display: flex; flex-direction: row;">
        <hr>
        <p style="font-size: large;">Work</p>
        <hr>
      </div>
    </div>
    <div class="Projects">
      <mat-card class="project">
        Project 1: Countdown Timer
        <ul>
          <li>HTML:5</li>
          <li>CSS:3</li>
          <li>Javascript</li>
        </ul>
        <button mat-raised-button><a href="https://github.com/bermudd95/Christmas-countdown.git">Source Code</a></button>
      </mat-card>
      <mat-card class="project">
        Project 2: Photo Album
        <ul>
          <li>HTML:5</li>
          <li>CSS:3</li>
        </ul>
        <button mat-raised-button><a href="https://github.com/bermudd95/photoalbum.git">Source Code</a></button>
      </mat-card>
    </div>
  </section>
  <footer>
  <div class="contact-container">
    <ul class="contact-info">
      <li>
        <p>
          Phone: (747)228-4581
        </p>
      </li>
      <li>
        <p>
          Email: bermudd95@icloud.com
        </p>
      </li>
    </ul>
  </div>
</footer>
</div>
</div>